@import '../../../../../styles.scss';

#container{
    background-color: $bg-white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.clear-button{
    color: $light-blue;
}

.wallet{
    background-color: #fff0b83d;
    border: 1px solid #1c14022e;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.lose{
    color: red;
}

.win{
    color: #4ca668;
}

