<div id="container" class="center-center">
    <div class="wallet center-center mt-10">
        <div>
            Wallet: {{dataService.user.wallet}}€
        </div>
    </div>
    <div class="center-center columns">
        <b *ngIf="dataService.state === 'ready'" class="mb-20 mt-10">Numbers</b>
        <b *ngIf="dataService.state === 'finished'" class="mb-20 mt-10">Result</b>
        <div id="balls_container" class="rows mb-20">
            <div *ngFor="let ball of (dataService.state === 'ready' ? dataService.bet.drum : [dataService.bet.result_ball])" 
            (click) = "addOrDeleteBall(ball)" class="circle mr-10 center-center pointer" ng-class="dataService.getColorClassByBallNumber(number)"
            [ngClass]="dataService.getBallClassesByBallNumber(ball.number, false)">
                <b>{{ball.number}}</b>
            </div>
        </div>

        <a *ngIf="dataService.state === 'ready'" class="clear-button pointer mb-20" (click)='dataService.clearSelection()'>Clear selection</a>
        <div *ngIf="dataService.state === 'finished'" class="mb-20 center-center" >
            <div *ngIf="dataService.bet.money_alteration >= 1" class="win">
                <b>{{"you win" | uppercase }} {{dataService.bet.money_alteration}} €</b>
            </div>
            <div *ngIf="dataService.bet.money_alteration <= 1" class="lose">
                <b>{{"you lose" | uppercase }} {{dataService.bet.money_alteration*-1}} €</b>
            </div>
        </div>

    </div>

</div>