@import './variables';

body{
    background-color: $game-bg-color;
    font-family: Arial, sans-serif;
}

// Flexbox

.rows{
    display: flex;
    flex-flow: row wrap;
}

.columns{
    display: flex;
    flex-flow: column wrap;
}

// Justify content

.center-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.center{
    display:flex;
    justify-content: center;
}

// Margins

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.ml-4{
    margin-left: 4px;
}

.mt-10{
    margin-top: 10px;
}

.mr-10{
    margin-right: 10px;
}

// Balls

.circle {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.little-circle{
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.green-selected{
    background-color: $strong-green;
}

.green{
    background-color: $light-green;
    border: 1px solid $border-green;
}

.red-selected{
    background-color: $strong-red;
}

.red{
    background-color: $light-red;
    border: 1px solid $border-red;
}

.yellow-selected{
    background-color: $strong-yellow;
}

.yellow{
    background-color: $light-yellow;
    border: 1px solid $border-yellow;
}

.gray{
    background-color: $gray;
}

// Width

.wh-40{
    width: 40px;
    height: 40px;
}

.mw-90{
    max-width: 90%;
}

// Others

.pointer{
    cursor: pointer;
}
